@import "tailwindcss";

@font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/NeueMontreal-Regular.woff2') format('woff2'),
        url('fonts/NeueMontreal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-montreal: "Neue Montreal", "sans-serif"
}

.hero-custom-text1 {
    color: var(--Rizz-white, #FFF);
    font-family: Impact;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-transform: capitalize;
}

.hero-custom-text2 {
    background: var(--Rizz-bg-gradient-3, linear-gradient(180deg, #C1842D 0%, #ECC974 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Impact;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-transform: capitalize;
}

.hero-custom-text3 {
    font-family: Impact;
}

.hero-custom-text4 {
    background: var(--Rizz-bg-gradient-3, linear-gradient(180deg, #C1842D 0%, #ECC974 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Impact;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-transform: capitalize;
}

.hero-custom-btn {
    display: inline-block;
    padding: 2px;
    outline: none;
    border: 0;
    border-radius: 50px;
    text-transform: capitalize;
    background: linear-gradient(90deg, #db5095 0%, #1945e8 100%);
    transition: all 0.3s ease;
    cursor: pointer;
}

.hero-custom-btn span {
    display: inline-block;
    background-color: #22242d;
    font-size: 22px;
    line-height: 1.4;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 1.5px;
    border-radius: 50px;
    padding: 16px 28px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.category-wrapper {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 376px 44px 376px;
}

.product-card-text {
    background: var(--Rizz-bg-gradient-3, linear-gradient(180deg, #C1842D 0%, #ECC974 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product-card-top-text {
    background: var(--Rizz-gradient, linear-gradient(269deg, #A75356 1.04%, #D78C6C 98.57%));
}

.product-card-top-text2 {
    border-radius: 0px 12px;
    border-bottom: 0.5px solid var(--Rizz-gradient, #A75356);
    border-left: 0.5px solid var(--Rizz-gradient, #A75356);
    background: linear-gradient(180deg, rgba(108, 34, 29, 0.30) 0%, rgba(149, 65, 57, 0.30) 100%);
}


.product-cart-bg {
    background: var(--Rizz-bg-gradient-3, linear-gradient(180deg, #C1842D 0%, #ECC974 100%));
}

.ad-custom-header {
    font-family: Impact;
}

.swiper-wrapper {
    padding-bottom: 80px !important;
}

.swiper-pagination-bullet {
    width: 16px !important;
    height: 16px !important;
    border-radius: 50% !important;
    background: #727279 !important;
}

.swiper-pagination-bullet-active {
    width: 16px !important;
    height: 16px !important;
    border-radius: 50% !important;
    background: #B9B8B8 !important;
}

.swiper-pagination {
    position: absolute !important;
    bottom: 0px !important;
    /* left: 50% !important; */
    /* transform: translateX(50%) !important; */
    width: 100% !important;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.footer-bg {
    background: linear-gradient(180deg, rgba(61, 85, 204, 0.70) 0%, rgba(31, 31, 31, 0.10) 100%);
}